---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Background from "../components/astro/background.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Outfit:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="bg-[#0a0a0a] text-white font-sans selection:bg-tech-gold/30">
		<Background />
		<div class="fixed inset-0 z-0 pointer-events-none"></div>

		<main class="relative z-10">
			<slot />
		</main>
		<script>
			import Lenis from "lenis";

			const lenis = new Lenis({
				duration: 1.2,
				easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
				smoothWheel: true,
			});

			function raf(time: any) {
				lenis.raf(time);
				requestAnimationFrame(raf);
			}

			requestAnimationFrame(raf);
		</script>
	</body>
</html>
